@model List<ERP_MVC.Models.LeaveInfo>
@{
    ViewBag.Title = "请假信息管理";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using ERP_MVC.Models
@{
    string str = Request.Cookies["cookie"]["eno"];
    LoginResult loginResult = Session[str] as LoginResult;
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th>员工编号</th>
                            <th>员工姓名</th>
                            <th>员工职位</th>
                            <th>请假类型</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>请假理由</th>
                            <th>审核时间</th>
                            <th>审核状态</th>
                            @if (loginResult.Permissins.Contains("N") || loginResult.Permissins.Equals("ALL"))
                            {
                                <th>操作</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.ENo</td>
                            <td>@item.EName</td>
                            <td>@item.PoName</td>
                            <td>@item.Rtype</td>
                            <td>@item.RBeginTime</td>
                            <td>@item.REndTime</td>
                            <td>@item.RemarkInfo</td>
                            <td>@item.ReAuditTime</td>
                            <td id='s @item.RID'>@item.Restatic</td>
                            <td class="@(item.Restatic!="待审批"?"che":"")"><input id='btnAgree @item.RID' class='btn btn - info float-left' type='button' onclick='Agree(@item.RID)' value='同意' /><input id='btnReject @item.RID' class='btn btn - info float-left' type='button' onclick='Reject(@item.RID)' value='驳回' /></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
        $(function () {
            $(".che").empty();
            $(".page-link").click(function () {
                setTimeout(function () {
                    var c = $(".che");
                    c.empty();}, 50)
            })
        });
        function Agree(RID) {
            $.ajax({
                url: 'http://localhost:59776/api/Rest?RID=' + RID + '&Restatic=1',
                type: 'put',
                dataType: 'text',
                success: function (data) {
                    if (data > 0) {
                        layer.msg('审批成功', { icon: 1 });
                        location.href = '/Leave/Index';
                    }
                }
            })
        }
        function Reject(RID) {
            $.ajax({
                url: 'http://localhost:59776/api/Rest?RID=' + RID + '&Restatic=0',
                type: 'put',
                dataType: 'text',
                success: function (data) {
                    if (data > 0) {
                        layer.msg('审批成功', { icon: 1 });
                        location.href = '/Leave/Index';
                    }
                }
            })
        }

</script>
