@model IEnumerable<ERP_MVC.Models.AttendanceDay>

@{
    ViewBag.Title = "adfadsfdasf";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>adfadsfdasf</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AMBeginTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AMEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AABeginTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AAEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ABeLateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ALeaveTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AStatic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AMBeginTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AMEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AABeginTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AAEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ABeLateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ALeaveTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AStatic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
